.utility-btn {
  background-color: #32363D;
  padding: 8px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: opacity 0.2s;
  border-radius: 5px;
}

.utility-btn:hover {
  opacity: 0.8;
  transition: opacity 0.2s;
}

.utility-icon {
  width: 24px;
  height: 24px;
}
